baseURL = "https://TUOUSERNAME.github.io/"
languageCode = "en-us"
title = "Andrea Alessi"
theme = "PaperMod"


[params]
author = "Andrea Alessi"
showReadingTime = true
showCodeCopyButtons = true

[menu]
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 1

  [[menu.main]]
    name = "Projects"
    url = "/projects/"
    weight = 2

  [[menu.main]]
    name = "Publications"
    url = "/publications/"
    weight = 3

  [[menu.main]]
    name = "Contact"
    url = "/contact/"
    weight = 4
